#title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

body {
    background: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo{
    border:1px solid blueviolet;
    border-radius:300px;
    max-width: 200px;
    align-items: center;
}

#title,.subtitle,.post_title {
    color:black;
}

title{
    text-transform: capitalize;
    text-align: center;
}

.post_title {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
    margin:0;
    margin-bottom:15px;
}

.post{
    background: white;
    padding: 15px;
    border: 3px solid blueviolet;
    margin: 1px;
    margin-bottom: 15px;
    border-radius:5px;
}

.post_content{
    margin:0;
    margin-bottom:15px;
    text-transform: capitalize;
    text-align: left;
}

.dados{
    text-align: left;
}

.post_image{
    margin-bottom: 15px;
    width: 40%;
}

a{
    color: black
}

.contact-title{
    text-decoration: underline;
    color: black;
    text-align: center;
}

.contacts-list li a{
    color:white;
    list-style-type: none;
    text-align: center;
}